# Mapnik XML
data.xml
*.thumb.png
*.swp
*.pbf

# quickstart
quickstart.log


# imput / output data
data/*

# generated source files
build/*

cache/*

# any IDE files
.idea/
.vscode/
# Earthexplorer credentials
